html,
body {
  font-family: arial, sans-serif;
}

nav {
  background: #fff;
  border-bottom: 5px blue solid;
  max-height: 5vh;
  color: #252525;
  cursor: pointer;
  padding: 15px 1.5% 5px;
  display: flex;
  justify-content: space-between;
}
nav a {
  overflow: hidden;
}

#mainBody {
  width: 85%;
  margin: auto;
  min-height: 90vh;
}

#mainBody button {
  margin-left: 10px;
}

#genFile p {
  line-height: 0;
}

.newSection {
  padding: 10px 0;
}

footer {
  background: aquamarine;
  min-height: 5vh;
}

.indent,
#gearswapFunctions {
  margin: 15px 25px;
  padding: 0 15px;
}

#genSnippets,
#genCode,
#genFile {
  border: black 1px solid;
  background: lightgrey;
  color: rgb(3, 100, 190);
  max-width: 65%;
}

.heading {
  color: black;
}
